@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Hind:wght@400;500;600;700&family=Montserrat:wght@100;900&display=swap");

:root {
	--glass: rgba(255, 255, 255, 0.1);
}

body {
	height: 100%;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	color: #fff;
}

h1 {
	font-family: "Cormorant Garamond", serif;
	font-size: 4rem;
}
h3 {
	font-family: "Hind", sans-serif;
	font-size: 1.2rem;
}

p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

span {
	font-family: "Hind", sans-serif;
	font-size: 4rem;
}

.container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(16, 97, 38, 0.4);
	z-index: 1;
}

.container > *:not(.overlay) {
	position: relative;
	z-index: 2;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.wrapper .title {
	grid-column: 2/3;
}
.wrapper .countdown {
	grid-column: 2/3;
}
.wrapper .description {
	grid-column: 2/3;
}

.glass-wrapper p {
	font-family: "Hind", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
}

.glass-effect {
	background: var(--glass);
	backdrop-filter: blur(10px);
	padding: 40px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	min-width: 150px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.5);
}

.g-left {
	border-radius: 20px 0 0 20px;
}
.g-right {
	border-radius: 0 20px 20px 0;
}

#edit-icon:hover {
	cursor: pointer;
	color: rgb(81, 108, 95);
}
